.ad {
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--color-gray-100);
    align-items: center;
    justify-content: center;

    .ad-content {
      padding-left: 70px;

      h2 {
        font-size: 2.2rem;
        font-weight: 900;
        margin-top: 0;

        span {
          color: var(--color-theme);
        }
      }

      p {
        color: var(--color-gray-700);
      }

      button {
        @include box-shadow;
      }
    }

    .ad-image {
      padding: 30px 50px;
    }
  }
}
