header {
  padding: 15px 0;

  .container {
    display: grid;
    align-items: center;
    gap: 40px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo burger";

    @include md {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: "logo switch burger";
    }

    @include xl {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo nav switch accounts";
    }



    .logo {
      grid-area: logo;
    }

    .btn-menu {
      grid-area: burger;
      z-index: 20;

      &.menu-display {
        color: var(--color-white);
      }

      @include xl {
        display: none;
      }
    }

    .theme-switch {
      grid-area: switch;
      display: none;

      @include md {
        display: block;
      }
    }
    .account-buttons {
      grid-area: accounts;
      display: none;

      @include xl {
        display: flex;
        gap: 10px;
      }
    }

    .account-image {
      
        height: 35px;
        width: 40px;
        margin: 0;
        padding: 0;
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            margin: 0;
            padding: 0;
        }
    }

    .nav-menu {
      grid-area: nav;
      position: relative;
      display: none;
      transform: translateX(100%);
      transition: transform 1.3s ease-in-out;
      padding-top: 100px;

      &.active {
        display: grid;
        justify-content: center;

        background-color: var(--color-gray-900);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transform: translateX(0);
        transition: transform 1.3s ease-in-out;

        .nav-link {
          display: block;

          color: var(--color-gray-200);
          margin-left: auto;
          margin-right: auto;
       
          height: 50%;
        }
      }

      @include xl {
        position: static;
        transform: none;
        display: flex;
        gap: 20px;
        padding-top: 0;
      }

      .nav-link {
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        color: var(--color-gray-900);

        &.active,
        &:hover {
          color: var(--color-theme);
          text-decoration: underline;
        }
      }
    }
  }
}
