@model SubscriberViewForm


<form method="post" asp-action="Subscribe" asp-controller="Subscribers" class="validate">
    <div class="alternative">
        <h4>@Model.Title</h4>

        <div class="options">
            <div class="checkbox-group">
                <div class="input-group">
                    <input type="checkbox" asp-for="DailyNewsletter" />
                    <label asp-for="DailyNewsletter"></label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="AdvertisingUpdates" type="checkbox" />
                    <label asp-for="AdvertisingUpdates"></label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="WeekinReview" type="checkbox" />
                    <label asp-for="WeekinReview"></label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="EventUpdates" type="checkbox" />
                    <label asp-for="EventUpdates"></label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="StartupsWeekly" type="checkbox" />
                    <label asp-for="StartupsWeekly"></label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="Podcasts" type="checkbox" />
                    <label asp-for="Podcasts"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="email">
        <div class="input-group">
            <i class="fa-regular fa-envelope"></i>
            <input asp-for="Email" data-val="true" data-val-regex="The Email field is not a valid e-mail address." />
            <span asp-validation-for="Email"></span>
        </div>
        <button class="btn btn-theme" type="@Model.SubmitButton.Type">@Model.SubmitButton.Text</button>
    </div>
</form>

